@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Raleway", serif;
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.hostingMainCardGradeIcon[data-active=false] {
    color: #d9d9d9;
}

.hostingMainCardGradeIcon[data-active=true] {
    color: #0065FC;
}


/* header */

header {
    display: flex;
    flex-direction: row;
    margin: auto;
}


div.logo {
    padding-top: 2rem;
    margin-left: -1rem;
    grid-area: logo;
}


/* Main menu */

nav.mainNav {
    display: flex;
    align-items: center;
    margin-left: 59rem;
}

nav.mainNav a {
    margin-right: 2rem;
    padding-top: 2rem;
    font-weight: bolder;
    grid-area: mainNav;
}

nav.mainNav a:hover {
    border-top: 3px #0065FC solid;
    color: #0065FC;
}

#register {
    max-height: 55px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding-top: 2rem;

    color: #0065FC;
    font-weight: bolder;
    grid-area: register;
}

#register:hover {
    border-top: 3px #0065FC solid;
}


/* Main container */


main {
    max-width: 1440px;
    height: auto;
    margin: auto;
}


/* Recherche */


div.tittle {
    font-weight: bolder;
}

form {
    display: inline-flex;
}

form i {
    background: #f0ebeb;
    border: 1px #F2F2F2 solid;
    font-size: 20px;
    border-radius: 15px 0 0 15px;
    padding: 7px 15px 11px;
}

input.searchField {
    background: transparent;
    border: 1px #F2F2F2 solid;
    padding: 11px;
    height: 1.1rem;
}

button {
    background: #0065FC;
    border: 1px #0061f2 solid;
    border-radius: 0 1rem 1rem 0;
    color: #FFF;
    height: 2.5rem;
}

.searchFormSubmitinputIcon {
    display: none;
}


/* Filters */

section.filters {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

section.filters h2 {
    padding-top: 1rem;
    font-size: 1.3rem;
    font-weight: bolder;

}

div.allFilters {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
}

.iconFilter {
    line-height: 3.2rem;
    color: #0065FC;
    position: absolute;
    width: 3.2rem;
    text-align: center;
    background: #DEEBFF;
    left: -0.1rem;
    border-radius: 100%;
}

div.filter {
    display: flex;
    align-items: center;
    border-radius: 3rem;
    border: 2px #F2F2F2 solid;
    height: 3rem;
    position: relative;
    padding-left: 3.5rem;
    padding-right: 1rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    transition: transform .2s;
    cursor: pointer;
    font-weight: bolder;
}

div.filter:hover {
    transform: scale(1.05);
    border: 5px #DEEBFF solid;
}


/* infos hébergements */

.infoHosting {
    display: inline-flex;
    align-items: center;
    margin-bottom: 1rem;
}

.searchResultWrapiconIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    color: #0065FC;
    border: solid 1px #d9d9d9;
    border-radius: 100%;;
    margin-right: 1rem;
}


/* all hébergements */

section.allArticleHosting {
    display: flex;
    flex-direction: row;
}


/* Hébergement classique */

#articleHosting {
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2rem;
    height: 40.4rem;
    margin-right: 2rem;

}

article.hostingCards {
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    width: 16rem;
    height: 13rem;
}

article.hostingCards:hover {
    transform: scale(1.05);
    box-shadow: 0 0 16px lightgrey;
}

div.tittleHosting {
    grid-column: 1  / span 3;
    grid-row: 1;
    margin-bottom: -2rem;
}

div.tittleHosting h2 {
    font-size: 1.4em;
    font-weight: bolder;
}

div.hostingImg img {
    height: 7rem;
    width: 15rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    margin-top: -0.9rem;
    margin-left: -2.3rem;
}

figure.hosting figcaption h3 {
    font-size: 1.1rem;
    margin-left: -2.2rem;
    margin-top: 0.4rem;
}

article.hostingCards p {
    margin-top: -0.9rem;
    margin-left: -2.2rem;
}

article.hostingCards .noteHosting {
    margin-top: -0.5rem;
    margin-left: -2.2rem;
}
div.moreHosting{
    font-weight:bolder
}

/* Hébergement les plus populaires */

#articlePopularHosting {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 23rem;
    height: 40.4rem;
    background-color: #F2F2F2;
    border-radius: 1.5rem;;
    padding: 2rem;
}

article.popularHostingCards {
    width: 23rem;
    height: 8.81rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 16px #0000002e;
    margin-bottom: 3rem;
}

article.popularHostingCards:hover {
    transform: scale(1.05);
    box-shadow: 0 0 16px lightgrey;
}

div.popularHostingImg img {
    border-radius: 1rem 0 0 1rem;
    position: absolute;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    margin-top: -0.8rem;
    margin-left: -2rem;
}

div.tittlePopularHosting {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 1rem;
}

div.tittlePopularHosting h2 {
    padding-right: 7rem;
    font-size: 1.4rem;
    font-weight: bold;
}

figure.popularHosting figcaption h3 {
    padding-left: 7rem;
    font-size: 1.10em;
}

article.popularHostingCards p {
    padding-left: 7rem;
    margin-top: -0.5rem;
}

article.popularHostingCards div.noteHosting {
    padding-left: 7rem;
    margin-top: 1.5rem;
}


/* Activitées */

#articleActivities {
    display: grid;
    column-gap: 2rem;
    margin: 3rem 0;
}

#articleActivities h2 {
    grid-column: 1  / span 3;
    grid-row: 1;
    font-weight: bolder;
}


article.activityCards {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    width: 19.5rem;
}

article.activityCards:hover {
    transform: scale(1.05);
    box-shadow: 0 0 16px lightgrey;
}

.activityCards figure figcaption h3 {
    font-size: 1rem;
    margin-left: -1.5rem;
    font-weight: bolder;
}

img.smallActivityImg {
    width: 19.5rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    margin-top: -1rem;
    margin-left: -2.5rem;
}

img.activityImg {
    width: 19.5rem;
    height: 12.5rem;
    object-fit: none;
    border-radius: 1rem 1rem 0 0;
    margin-top: -1rem;
    margin-left: -2.5rem;
}

img.greatActivityImg {
    width: 19.5rem;
    height: 26.6rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    margin-top: -1rem;
    margin-left: -2.5rem;
}

article.activityCard1 {
    grid-row: 2/7;
    grid-column: 1/2;
    height: 30rem;

}

article.activityCard2 {
    grid-column: 2/3;
    grid-row: 2/5;
    height: 16rem;

}

article.activityCard3 {
    grid-column: 2/3;
    grid-row: 6/7;
}

article.activityCard4 {
    grid-column: 3/4;
    grid-row: 2/7;
    height: 30rem;
}

article.activityCard5 {
    grid-column: 4/5;
    grid-row: 2/3;
}

article.activityCard6 {
    grid-column: 4/5;
    grid-row: 4/7;
    height: 16rem;
}


/* Footer */

footer {
    display: flex;
    flex-flow: row nowrap;
    background-color: #F2F2F2;
}

nav.about {
    margin-left: 13%;
}

nav.ourHosting {
    margin-left: 15rem;
}

nav.assist {
    margin-left: 15rem;
}

h2.tittleNavFooter {
    margin-left: 2.3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: bolder;
}

.navFooter ul li {
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
}

@media screen and (max-width: 1400px) {

    main {
        margin-left: 1rem;
    }

    .logo img {
        margin-left: -8rem;
    }

    /* ----- Main menu ----- */
    nav.mainNav {
        display: flex;
        margin-left: 40em;
    }

    /* ----- Tous les  hébergements ------ */
    section.allArticleHosting {
        max-width: 1400px;
        display: flex;
        flex-flow: column wrap;
        margin-left: -1rem;
    }

    /* -------  hébergements les plus populaires ------ */
    #articlePopularHosting {
        width: auto;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        order: -1;
        margin-bottom: 2rem;
        border-radius: 0;

    }

    article.popularHostingCards {
        padding: 0.375rem;
        box-sizing: border-box;
        width: 16rem;
        height: 15rem;
        margin-right: 2rem;
    }

    div.tittlePopularHosting {
        flex-basis: 100%;
    }

    div.popularHostingImg img {
        height: 7rem;
        width: 15rem;
        position: relative;
        border-radius: 1rem 1rem 0 0;
        margin-left: -2.4rem;
        margin-top: -1rem;
    }

    figure.popularHosting figcaption h3 {
        font-size: 1.1rem;
        margin-left: -9rem;
        margin-top: 0.2rem;
    }

    article.popularHostingCards p {
        font-size: 1.1rem;
        margin-left: -9rem;;
        margin-top: -1rem;
    }

    article.popularHostingCards .noteHosting {
        margin-left: -9rem;;
        margin-top: -1rem;
    }

    /* ------ hébergements classique -------*/
    #articleHosting {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background: white;

    }

    div.tittleHosting {
        flex-basis: 100%;
    }

    div.moreHosting {
        flex-basis: 100%;
    }

    /* ------- Activités ------ */
    #articleActivities {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

    }

    #articleActivities h2 {
        flex-basis: 100%;
        margin-bottom: 3rem;
    }

    img.smallActivityImg {
        height: 12rem;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
        margin-top: -1rem;
        margin-left: -2.5rem;
    }

    img.activityImg {
        height: 12rem;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
        margin-top: -1rem;
        margin-left: -2.5rem;
    }

    img.greatActivityImg {
        height: 12rem;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
        margin-top: -1rem;
        margin-left: -2.5rem;
    }

    .activityCards {
        margin-bottom: 2rem;
        max-width: 20rem;
        max-height: 16rem;
    }
}

@media screen and (max-width: 1024px) {
    .logo img {
        margin-left: -6rem;
    }

    nav.mainNav {
        display: flex;
        margin-left: 28em;
    }

    /* ----- Tous les  hébergements ------ */
    section.allArticleHosting {
        max-width: 1024px;
        width: 100%;
        display: flex;
        flex-flow: column wrap;
    }

    /* ----- hébergements les plus populaires -----*/
    #articlePopularHosting {
        width: 100%;
        padding-right: 5rem;
        padding-left: 4.5rem;
    }

    article.popularHostingCards {
        margin-left: 1.8rem;
    }

    .tittlePopularHosting h2 {
        margin-left: 1rem;
    }

    .moreHosting {
        margin-left: 3rem;
    }

    /* ----- hébergements classique ------- */
    #articleHosting {
        width: 100%;
        margin-left: 2.5rem;
    }

    .tittleHosting h2 {
        margin-left: 1rem;
    }

    /* ----- Activités ----- */
    #articleActivities {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        margin-top: 1rem;
        margin-left: 3.5rem;
    }

    .activityCards {
        margin-right: 0rem;
    }

    #articleActivities h2 {
        margin-left: 2rem;
    }
    footer {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        padding-left: 1rem;
    }

    nav.navFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav.about {
        margin-left: autorem;
    }

    nav.ourHosting {
        margin-left: 4rem;
        margin-top: -2rem;
    }

    nav.assist {
        margin-left: 4rem;
        margin-top: -2rem;
    }

    h2.tittleNavFooter {
        font-size: 1.2rem;
    }

    .navFooter ul li {
        margin-bottom: 0.8rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    
    main{
        margin-right:-50px
    }
    
    .logo img {
        margin-left: 1rem;
    }

    nav.mainNav {
        display: flex;
        margin-left: 10em;
    }

    section.filters {
        display: flex;
        flex-flow: column wrap;
        margin-top: 1rem;
    }

    section.filters h2 {
        margin-bottom: -0.5rem;
        margin-left: 1rem;
    }

    .allFilters {
        display: flex;
        flex-flow: column wrap;
    }

    /* ----- Tous les  hébergements ------ */
    section.allArticleHosting {
        max-width: 960px;
        width: 100%;
        display: flex;
        flex-flow: column wrap;
    }

    /* ----- hébergements les plus populaires -----*/
    #articlePopularHosting {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        height: auto;
        order: -1;
        border-radius: 0;
        margin-bottom: 2rem;
        padding-right:5.7rem
    }

    article.popularHostingCards {
        padding: 0.375rem;
        box-sizing: border-box;
        width: 15rem;
        height: 12rem;
        margin-right: -1rem;
    }

    div.tittlePopularHosting {
        flex-basis: 100%;
    }

    div.tittlePopularHosting h2 {
        margin-left: 2.5rem;
    }

    div.popularHostingImg img {
        height: 5rem;
        width: 14rem;
        position: relative;
        border-radius: 1rem 1rem 0 0;
        margin-left: -2.4rem;
        margin-top: -1rem;
    }

    figure.popularHosting figcaption h3 {
        font-size: 1rem;
        margin-left: -9rem;
        margin-top: 0.2rem;
    }

    article.popularHostingCards p {
        font-size: 1rem;
        margin-left: -9rem;;
        margin-top: -1.1rem;
    }

    article.popularHostingCards .noteHosting {
        font-size: 1rem;
        margin-left: -9rem;;
        margin-top: -0rem;
    }


    .moreHosting {
        margin-left: 5rem;
    }

    /* ----- hébergements classique ------- */
    #articleHosting {
        background-color: white;
        max-width: 768px;
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-left:5.5rem;
    }
    article.hostingCards{
         width: 15rem;
        height: 12rem;
        }

    .hostingCards {
        margin-left: -1rem;
    }

    div.tittleHosting {
        flex-basis: 100%;
        margin-left:-3rem;
    }

    div.moreHosting {
        flex-basis: 100%;
    }

    div.hostingImg img {
        height: 5rem;
        width: 14rem;
        position: relative;

     }

    figure.hosting figcaption h3 {
    font-size: 1rem;
    }

    article.hostingCards p {
        font-size: 1rem;
        margin-top: -0.5rem;
         }

    article.hostingCards .noteHosting {
        font-size: 1rem;
        margin-top: 1rem;
        }



    /* ----- Activités ----- */
    #articleActivities {
        max-width: 768px;
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-left: 6rem;

    }

    #articleActivities h2 {
        flex-basis: 100%;;
        margin-left: 0rem;
    }

    img.smallActivityImg {
        width: 13rem;
        height: 12rem;

    }

    img.activityImg {
        width: 13rem;
        height: 12rem;
    }

    img.greatActivityImg {
        width: 13rem;
        height: 12rem;

    }

    article.activityCards {
        max-width: 13rem;
        width: 13rem;
        max-height: 16rem;
        margin-bottom: 2rem;
        margin-right: 1rem;
    }

    /* ----- footer ----- */
    footer {
        width: 108%;
        display: flex;
        flex-flow: row nowrap;
    }

    nav.navFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav.about {
        margin-left: 2rem;
    }

    nav.ourHosting {
        margin-left: 4rem;
        margin-top: -2rem;
    }

    nav.assist {
        margin-left: 4rem;
        margin-top: -2rem;
    }

    h2.tittleNavFooter {
        font-size: 1.2rem;
    }

    .navFooter ul li {
        margin-bottom: 0.8rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 425px) {

    body {
        margin-left:-2.5rem;  
    }

    header {
        width: 100%;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
            "logo . register"
            "mainNav mainNav mainNav";
            margin-left:2.5rem;
    }

    .logo img {
        margin-top: -1rem;
        margin-left: 2rem;
    }

    #register {
        position: relative;
        right: -6rem;
        bottom: 2.5rem;
        margin-right: 0;
        font-size: 1.2rem;
        font-weight: bolder;
    }

    nav.mainNav {
        max-width: 425px;
        width: 100%;
        margin: 4rem 0 0 -10rem;
    }

    nav.mainNav a {
        margin-right: 0;
        padding-bottom: 1rem;
        font-size: 1.4rem;
        font-weight: bolder;
        width: 100%;
        border-bottom: 3px #F2F2F2 solid;
    }

    nav.mainNav a[data-active=true] {
        color: #0065FC;
        border-top: none;
        border-bottom: 3px #0065FC solid;
        margin-left: 3rem;
        padding-left: 2.7rem;
        padding-right: 6.1rem;
    }

    nav.mainNav a[data-active=false] {
        padding-left: 6rem;
        padding-right: 6.5rem;
    }

    /* ----- Research ----- */
    
    .title{
        font-size: 1.3rem;
    }
    
    .research {
        margin-left: 2.5rem;
    }

    .title h2 {
        width: 22rem;
        overflow-wrap: break-word;
    }

    button {
        display: none;
    }

    input.searchField {
        width:27rem;
        height:2rem;
    }

    form i {
        font-size: 23px;
        padding: 13px 14px 15px;
    
    }

    .searchFormSubmitinputIcon {
        display: block;
        width: 1rem;
        background: #0065FC;
        border: 1px #0061f2 solid;
        border-radius: 0.7rem;
        color: #FFF;
        padding-top: 0.8rem;
        padding-left: 0.6rem;
        margin-left: -0.5rem;
}

    /* ----- Filtres ------ */
    section.filters h2 {
        margin-left:2.5rem;
        font-size:1.6rem;
        }
    
    div.allFilters {
        padding-right: 0;
        font-size:1.4rem;
        margin-left:1rem;
        width:524px;
    }

    .infoHosting {
        width: 100%;
    }

    .searchResultWrapiconIcon {
        margin-left:2.5rem;
    }

    /* ----- all hébergements ------ */
    section.allArticleHosting {
        max-width: 425px;
        height: auto;
        display: flex;
        flex-flow: column wrap;
    }

    /* ----- Hébergement les plus populaires ------ */
    #articlePopularHosting {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        order: -1;
        border-radius: 0;
        margin-bottom: 0;
        padding-right: 8.7rem;
    }

    div.tittlePopularHosting h2 {
        margin-left: -4rem;
        padding-right: 13rem;
    }

    article.popularHostingCards {
        max-width: 30rem;
        height: 9rem;
        width: 30rem;
        margin-left: 1.9rem;
    }

    figure.popularHosting figcaption h3 {
        font-size: 0.9rem;
        margin-left: -1rem;
    }

    article.popularHostingCards p {
        font-size: 0.9rem;
        margin-bottom: 2rem;
        margin-left: -1rem;
    }

    article.popularHostingCards div.noteHosting {
        margin-left: -1rem;
    }

    div.popularHostingImg img {
        border-radius: 1rem 0 0 1rem;
        position: absolute;
        width: 8rem;
        height: 8.5rem;
        object-fit: cover;
        margin-top: -1.1rem;
        margin-left: -2.6rem;
    }

    /* ------ Hébergement classique ------ */
    #articleHosting {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        background-color: white;
        margin-bottom: 0;
        margin-left: -1.5rem;
        padding-right: 0;
        padding-top: 1rem;
    }

    article.hostingCards {
        background-color: white;
        padding: 0.375rem;
        width: 30rem;
        height: 13rem;
        margin-left: 14.5rem;
    }

    div.tittleHosting h2 {
        font-size: 1.4rem;
        font-weight: bolder;
        margin-left: 5rem;
    }

    figure.hosting figcaption h3 {
        font-size: 1rem;
    }

    article.hostingCards p {
        font-size: 1rem;
        margin-top: 0.3rem;
        margin-bottom: 1rem;
    }

    div.hostingImg img {
        height: 6.5rem;
        width: 29rem;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
        margin-top: -1rem;
        margin-left: -2.4rem;
    }

    article.hostingCards p {
       margin-top: -0.5rem;
    }

    article.hostingCards .noteHosting {
        font-size: 1rem;
         margin-top: 1rem;
        }
        
    .moreHosting {
        margin-left: 3.5rem;
        font-size:1.2rem;
    }

    /* ----- activités ----- */
    #articleActivities {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        padding-right: 0;
        margin-left: 4rem;
    }

    img.smallActivityImg {
        width: 30rem;
        height: 9rem;
    }

    img.activityImg {
        width: 30rem;
        height: 9rem;
    }

    img.greatActivityImg {
        width: 30rem;
        height: 9rem;

    }

    article.activityCards {
        max-width: 30rem;
        width: 30rem;
        max-height: 13rem;
        margin-bottom: 2rem;
        margin-left: 1rem;
    }

    #articleActivities h2{
        margin-left: -1rem;
    }

    /* ----- footer ----- */
    nav.navFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer {
        width: 107.5%;
        display: flex;
        flex-flow: column nowrap;
        padding-right: 7.4rem;
    }

    nav.about {
        margin-left: 2.5rem;
        margin-bottom: 3rem;
    }

    nav.ourHosting {
        margin-left: 2.5rem;
        margin-bottom: 3rem;
    }

    nav.assist {
        padding-bottom: 10rem;
        margin-left: 2.5rem;
    }

    h2.tittleNavFooter {
        font-size: 1.5rem;
        margin-bottom: 0rem;
    }

    .navFooter ul li {
        margin-bottom: 0.8rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 375px) {

    body {
        margin-left:-1rem;  
    }

    main {
        width: 100%;
        margin: 0;
    }

    header{
        margin-left:1rem;  
    }

    #register {
        position: relative;
        right: -3rem;
        bottom: 2.5rem;
        margin-right: 0;
        font-size: 1.2rem;
        font-weight: bolder;
    }

    nav.mainNav a[data-active=false] {
        padding-left: 3rem;
        padding-right: auto;
    }

    .title{
        font-size: 1.0rem;
    }

    input.searchField {
        width:25rem;
        height:2rem;
}


    .searchResultWrapiconIcon {
        width: 3rem;
        margin-left:1.5rem;
    }

    .iconFilter {
        width:3rem;
         }

    div.allFilters {
        font-size:1.4rem
    }

    /* ----- Hébergement les plus populaires ------ */
    #articlePopularHosting {
        padding-right: 6.1rem;
        margin-left: 1.2rem;
    }

    article.popularHostingCards {
        margin-left: -1.5rem;
    }

    div.tittlePopularHosting h2 {
        margin-left: -5rem;
        font-size: 1.3rem;
    }

    /* ----- Hébergement classique ------ */
    div.tittleHosting h2 {
        margin-left: 4.5rem;
        font-size: 1.3rem;
    }

    article.hostingCards {
        background-color: white;
        padding: 0.375rem;
        width: 30rem;
        height: 13rem;
        margin-left: 12.7rem;
    }

    div.hostingImg img {
        width: 29rem;
        margin-left: -2.4rem;
    }

    div.moreHosting{
        margin-left: 3rem;
        font-size:1.2rem;
    }

    /* ----- activités ----- */
    #articleActivities {
        width: 100%;
        padding-right: 0;
        margin-left: 2.2rem;
    }

    #articleActivities h2 {
        width: 92%;
        margin-left: 0rem;
        font-size: 1.3rem;
    }

    img.smallActivityImg {
        width: 30rem;
    }

    img.activityImg {
        width: 30rem;
    }

    img.greatActivityImg {
        width: 30rem;

    }

    article.activityCards {
        max-width: 30rem;
        width: 30rem;
    }

    /* ----- Footer ------ */
    footer {
        width: 109.5%;
        padding-right: 4rem;
    }
    
    nav.about {
        margin-left: 0rem;
    }

    nav.ourHosting {
        margin-left: 0rem;
    }

    nav.assist {
        margin-left: 0rem;
    }

}

@media screen and (max-width: 320px) {
   
    body {
        margin-left:-2.5rem;  
    }

    header {
        margin-left:2.5rem;  
    }

   
    #register {
        right: 0rem;
    }

    nav.mainNav a[data-active=true] {
        padding-right: 3rem;
    }

    nav.mainNav a[data-active=false] {
        padding-left: 5rem;
        padding-right: 4.1rem;
    }

    .title{
        width: 100%;
        margin-left: -0.5rem;
        font-size:0.9rem
    }

    input.searchField {
        width:20rem;
        height:1.5rem;
}

    .title h2 {
        font-size: 1rem;
        overflow-wrap: break-word
    }

    .research {
        margin-left: 4.5rem;
    }

    section.filters h2 {
        margin-left:4.5rem;
        }
    
    div.allFilters {
        padding-right: 0;
        font-size:1.2rem;
        margin-left:2.5rem;
        width:420px;
    }

    .infoHosting {
        width: 100%;
    }

    .searchResultWrapiconIcon {
        margin-left:4.5rem;
    }

    /* ------ Hébergement populaire ------ */
    #articlePopularHosting {
        width: 100%;
        padding-right: 6.35rem;
    }

    article.popularHostingCards {
        width: 25rem;
        margin-left: 0.5rem;
    }

    div.tittlePopularHosting h2 {
        margin-left: -1rem;
        font-size: 1.2rem;
        width:180px;
    }

    figure.popularHosting figcaption h3 {
        width: 100%;
        margin-bottom: -0.5rem;
    }

    article.popularHostingCards p {
        margin-left: autorem;;
        margin-top: 1rem;
    }
    
    /* ------ Hébergement classique ------ */
    article.hostingCards {
        width: 25rem;
    }
    div.hostingImg img {
        width: 24rem;
    }
    
    
    div.tittleHosting h2 {
        font-size: 1.2rem;
        margin-left: 6rem;
    }

    article.hostingCards {
        margin-left: 13.7rem;
    }

    div.moreHosting{
        margin-left: 4.5rem;
        font-size:1.1rem;
    }
    /* ------ Activitées ------ */
    #articleActivities {
        margin-left: -0.2rem;
    }

    img.smallActivityImg {
        width: 25rem;
    }

    img.activityImg {
        width: 25rem;
    }

    img.greatActivityImg {
        width: 25rem;
    }

    article.activityCards{
        margin-left:5.4rem;
        max-width: 25rem;
        width: 25rem;
        }
    
    #articleActivities h2{
        font-size: 1.2rem;
        margin-left: 4rem;
    }

    footer {
        padding-right: 7.9rem;
    }

    nav.about {
        margin-left: 1rem;
    }

    nav.ourHosting {
        margin-left: 1rem;
    }

    nav.assist {
        margin-left: 1rem;
    }
}
