@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Raleway", serif;
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.hostingMainCardGradeIcon[data-active=false] {
    color: #d9d9d9;
}

.hostingMainCardGradeIcon[data-active=true] {
    color: #0065FC;
}


/* header */

header {
    display: flex;
    flex-direction: row;
    margin: auto;
}


div.logo {
    padding-top: 2rem;
    margin-left: -1rem;
    grid-area: logo;
}


/* Main menu */

nav.mainNav {
    display: flex;
    align-items: center;
    margin-left: 59rem;
}

nav.mainNav a {
    margin-right: 2rem;
    padding-top: 2rem;
    font-weight: bolder;
    grid-area: mainNav;
}

nav.mainNav a:hover {
    border-top: 3px #0065FC solid;
    color: #0065FC;
}

#register {
    max-height: 55px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding-top: 2rem;

    color: #0065FC;
    font-weight: bolder;
    grid-area: register;
}

#register:hover {
    border-top: 3px #0065FC solid;
}


/* Main container */


main {
    max-width: 1440px;
    height: auto;
    margin: auto;
}


/* Recherche */


div.tittle {
    font-weight: bolder;
}

form {
    display: inline-flex;
}

form i {
    background: #f0ebeb;
    border: 1px #F2F2F2 solid;
    font-size: 20px;
    border-radius: 15px 0 0 15px;
    padding: 7px 15px 11px;
}

input.searchField {
    background: transparent;
    border: 1px #F2F2F2 solid;
    padding: 11px;
    height: 1.1rem;
}

button {
    background: #0065FC;
    border: 1px #0061f2 solid;
    border-radius: 0 1rem 1rem 0;
    color: #FFF;
    height: 2.5rem;
}

.searchFormSubmitinputIcon {
    display: none;
}


/* Filters */

section.filters {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

section.filters h2 {
    padding-top: 1rem;
    font-size: 1.3rem;
    font-weight: bolder;

}

div.allFilters {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
}

.iconFilter {
    line-height: 3.2rem;
    color: #0065FC;
    position: absolute;
    width: 3.2rem;
    text-align: center;
    background: #DEEBFF;
    left: -0.1rem;
    border-radius: 100%;
}

div.filter {
    display: flex;
    align-items: center;
    border-radius: 3rem;
    border: 2px #F2F2F2 solid;
    height: 3rem;
    position: relative;
    padding-left: 3.5rem;
    padding-right: 1rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    transition: transform .2s;
    cursor: pointer;
    font-weight: bolder;
}

div.filter:hover {
    transform: scale(1.05);
    border: 5px #DEEBFF solid;
}


/* infos hébergements */

.infoHosting {
    display: inline-flex;
    align-items: center;
    margin-bottom: 1rem;
}

.searchResultWrapiconIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    color: #0065FC;
    border: solid 1px #d9d9d9;
    border-radius: 100%;;
    margin-right: 1rem;
}


/* all hébergements */

section.allArticleHosting {
    display: flex;
    flex-direction: row;
}


/* Hébergement classique */

#articleHosting {
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2rem;
    height: 40.4rem;
    margin-right: 2rem;

}

article.hostingCards {
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    width: 16rem;
    height: 13rem;
}

article.hostingCards:hover {
    transform: scale(1.05);
    box-shadow: 0 0 16px lightgrey;
}

div.tittleHosting {
    grid-column: 1  / span 3;
    grid-row: 1;
    margin-bottom: -2rem;
}

div.tittleHosting h2 {
    font-size: 1.4em;
    font-weight: bolder;
}

div.hostingImg img {
    height: 7rem;
    width: 15rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    margin-top: -0.9rem;
    margin-left: -2.3rem;
}

figure.hosting figcaption h3 {
    font-size: 1.1rem;
    margin-left: -2.2rem;
    margin-top: 0.4rem;
}

article.hostingCards p {
    margin-top: -0.9rem;
    margin-left: -2.2rem;
}

article.hostingCards .noteHosting {
    margin-top: -0.5rem;
    margin-left: -2.2rem;
}
div.moreHosting{
    font-weight:bolder
}

/* Hébergement les plus populaires */

#articlePopularHosting {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 23rem;
    height: 40.4rem;
    background-color: #F2F2F2;
    border-radius: 1.5rem;;
    padding: 2rem;
}

article.popularHostingCards {
    width: 23rem;
    height: 8.81rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 16px #0000002e;
    margin-bottom: 3rem;
}

article.popularHostingCards:hover {
    transform: scale(1.05);
    box-shadow: 0 0 16px lightgrey;
}

div.popularHostingImg img {
    border-radius: 1rem 0 0 1rem;
    position: absolute;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    margin-top: -0.8rem;
    margin-left: -2rem;
}

div.tittlePopularHosting {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 1rem;
}

div.tittlePopularHosting h2 {
    padding-right: 7rem;
    font-size: 1.4rem;
    font-weight: bold;
}

figure.popularHosting figcaption h3 {
    padding-left: 7rem;
    font-size: 1.10em;
}

article.popularHostingCards p {
    padding-left: 7rem;
    margin-top: -0.5rem;
}

article.popularHostingCards div.noteHosting {
    padding-left: 7rem;
    margin-top: 1.5rem;
}


/* Activitées */

#articleActivities {
    display: grid;
    column-gap: 2rem;
    margin: 3rem 0;
}

#articleActivities h2 {
    grid-column: 1  / span 3;
    grid-row: 1;
    font-weight: bolder;
}


article.activityCards {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    width: 19.5rem;
}

article.activityCards:hover {
    transform: scale(1.05);
    box-shadow: 0 0 16px lightgrey;
}

.activityCards figure figcaption h3 {
    font-size: 1rem;
    margin-left: -1.5rem;
    font-weight: bolder;
}

img.smallActivityImg {
    width: 19.5rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    margin-top: -1rem;
    margin-left: -2.5rem;
}

img.activityImg {
    width: 19.5rem;
    height: 12.5rem;
    object-fit: none;
    border-radius: 1rem 1rem 0 0;
    margin-top: -1rem;
    margin-left: -2.5rem;
}

img.greatActivityImg {
    width: 19.5rem;
    height: 26.6rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    margin-top: -1rem;
    margin-left: -2.5rem;
}

article.activityCard1 {
    grid-row: 2/7;
    grid-column: 1/2;
    height: 30rem;

}

article.activityCard2 {
    grid-column: 2/3;
    grid-row: 2/5;
    height: 16rem;

}

article.activityCard3 {
    grid-column: 2/3;
    grid-row: 6/7;
}

article.activityCard4 {
    grid-column: 3/4;
    grid-row: 2/7;
    height: 30rem;
}

article.activityCard5 {
    grid-column: 4/5;
    grid-row: 2/3;
}

article.activityCard6 {
    grid-column: 4/5;
    grid-row: 4/7;
    height: 16rem;
}


/* Footer */

footer {
    display: flex;
    flex-flow: row nowrap;
    background-color: #F2F2F2;
}

nav.about {
    margin-left: 13%;
}

nav.ourHosting {
    margin-left: 15rem;
}

nav.assist {
    margin-left: 15rem;
}

h2.tittleNavFooter {
    margin-left: 2.3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: bolder;
}

.navFooter ul li {
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
}

@media screen and (max-width: 1440px) {

    nav.about {
        margin-left:0rem;
    }

    nav.ourHosting {
        margin-left: 15rem;
    }

    nav.assist {
        margin-left: 15rem;
    }
}


@media screen and (max-width: 1024px) {
    body {
        margin-left:2rem;  
    }

    div.logo {
    margin-left:0rem;
     }

    /* Main menu */

    nav.mainNav {
        display: flex;
        align-items: center;
        margin-left: 55rem;
    }

    nav.mainNav a {
        margin-right: 2rem;
        padding-top: 2rem;
        font-weight: bolder;
        grid-area: mainNav;
    }

    nav.mainNav a:hover {
        border-top: 3px #0065FC solid;
        color: #0065FC;
    }

    #register {
        max-height: 55px;
        height: 100%;
        display: flex;
        align-items: center;
        margin-top: 1rem;
        padding-top: 2rem;

        color: #0065FC;
        font-weight: bolder;
        grid-area: register;
    }

    #register:hover {
        border-top: 3px #0065FC solid;
    }


        #articleHosting {
        max-width: 1024px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
        background-color: #F2F2F2;
        border-radius: 1.5rem;
        padding: 2.5rem;
        height: 37rem;
        margin-right: 2rem;

    }

    article.hostingCards {
        background-color: white;
        padding: 0.375rem;
        border-radius: 1.25rem;
        box-shadow: 0 0 16px #0000002e;
        box-sizing: border-box;
        width: 15.5rem;
        height: 12.5rem;
    }

    article.hostingCards:hover {
        transform: scale(1.05);
        box-shadow: 0 0 16px lightgrey;
    }

    div.tittleHosting {
        grid-column: 1  / span 3;
        grid-row: 1;
        margin-bottom: -2rem;
    }

    div.tittleHosting h2 {
        font-size: 1.4rem;
        font-weight: bolder;
    }

    div.hostingImg img {
        height: 7rem;
        width: 14.5rem;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
        margin-top: -0.9rem;
        margin-left: -2.3rem;
    }

    figure.hosting figcaption h3 {
        font-size: 1rem;
        margin-left: -2.2rem;
        margin-top: 0.4rem;
    }

    article.hostingCards p {
        font-size:1rem;
        margin-top: -0.8rem;
        margin-left: -2.2rem;
    }

    article.hostingCards .noteHosting {
        font-size:1rem;
        margin-top: -0.8rem;
        margin-left: -2.2rem;
    }
    div.moreHosting{
        font-weight:bolder
    }

    /* Hébergement les plus populaires */

    #articlePopularHosting {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        width: 22rem;
        height: 37rem;
        background-color: #F2F2F2;
        border-radius: 1.5rem;;
        padding: 2.5rem;
    }

    article.popularHostingCards {
        width: 22rem;
        height: 7.5rem;
        background-color: white;
        border-radius: 1rem;
        box-shadow: 0 0 16px #0000002e;
        margin-bottom: 3rem;
    }

    article.popularHostingCards:hover {
        transform: scale(1.05);
        box-shadow: 0 0 16px lightgrey;
    }

    div.popularHostingImg img {
        border-radius: 1rem 0 0 1rem;
        position: absolute;
        width: 7rem;
        height: 7rem;
        object-fit: cover;
        margin-top: -0.8rem;
        margin-left: -2rem;
    }

    div.tittlePopularHosting {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: bolder;
        margin-bottom: 1rem;
    }

    div.tittlePopularHosting h2 {
        padding-right: 7rem;
        font-size: 1.4rem;
        font-weight: bold;
    }

    figure.popularHosting figcaption h3 {
        padding-left: 6rem;
        font-size: 1rem;
    }

    article.popularHostingCards p {
        padding-left: 6rem;
        margin-top: -0.5rem;
    }

    article.popularHostingCards div.noteHosting {
        padding-left: 6rem;
        margin-top: 1rem;
    }

    /* Activitées */

    #articleActivities {
        display: grid;
        column-gap: 2rem;
        margin: 3rem 0;
    }

    #articleActivities h2 {
        grid-column: 1  / span 3;
        grid-row: 1;
        font-weight: bolder;
    }


    article.activityCards {
        box-shadow: 0 0 20px #0000002e;
        border-radius: 1rem;
        width: 18rem;
    }

    article.activityCards:hover {
        transform: scale(1.05);
        box-shadow: 0 0 16px lightgrey;
    }

    .activityCards figure figcaption h3 {
        font-size: 1rem;
        margin-left: -1.5rem;
        font-weight: bolder;
    }

    img.smallActivityImg {
        width: 18rem;
        height: 8rem;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
        margin-top: -1rem;
        margin-left: -2.5rem;
    }

    img.activityImg {
        width: 18rem;
        height: 12.5rem;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
        margin-top: -1rem;
        margin-left: -2.5rem;
    }

    img.greatActivityImg {
        width: 18rem;
        height: 26.6rem;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
        margin-top: -1rem;
        margin-left: -2.5rem;
    }

    article.activityCard1 {
        grid-row: 2/7;
        grid-column: 1/2;
        height: 30rem;

    }

    article.activityCard2 {
        grid-column: 2/3;
        grid-row: 2/5;
        height: 16rem;

    }

    article.activityCard3 {
        grid-column: 2/3;
        grid-row: 6/7;
    }

    article.activityCard4 {
        grid-column: 3/4;
        grid-row: 2/7;
        height: 30rem;
    }

    article.activityCard5 {
        grid-column: 4/5;
        grid-row: 2/3;
    }

    article.activityCard6 {
        grid-column: 4/5;
        grid-row: 4/7;
        height: 16rem;
    }

    /* Footer */

    footer {
        display: flex;
        flex-flow: row nowrap;
        background-color: #F2F2F2;
        margin-right:-21.8rem;
        margin-left:-2rem;
    }

    nav.about {
        margin-left: 0rem;
    }

    nav.ourHosting {
        margin-left: 13rem;
    }

    nav.assist {
        margin-left: 16rem;
    }

    h2.tittleNavFooter {
        margin-left: 2.3rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        font-size: 1rem;
        font-weight: bolder;
    }

    .navFooter ul li {
        margin-bottom: 0.8rem;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 768px) {
    
    main{
        margin-right:-50px
    }
    
    .logo img {
        margin-left: 0rem;
    }

    nav.mainNav {
        display: flex;
        margin-left: 30em;
    }

    section.filters {
        display: flex;
        flex-flow: column wrap;
        margin-top: 1rem;
    }

    section.filters h2 {
        margin-bottom: -0.5rem;
        margin-left: 0rem;
    }

    div.allFilters {
        margin-left: -2rem;
    }

    .allFilters {
        display: flex;
        flex-flow: column wrap;
    }

    /* ----- Tous les  hÃ©bergements ------ */
    section.allArticleHosting {
        max-width: 768px;
        width: 100%;
        display: flex;
        flex-flow: column wrap;
    }

    /* ----- hÃ©bergements les plus populaires -----*/
    #articlePopularHosting {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 900px;
        height: auto;
        order: -1;
        border-radius: 0;
        margin-bottom: 2rem;
        margin-left:-2rem;
        padding-left:2rem;
    }

    article.popularHostingCards {
        padding: 0.358rem;
        box-sizing: border-box;
        width: 17rem;
        height: 15rem;
        margin-left: 1.5rem;
    }

    div.tittlePopularHosting {
        flex-basis: 100%;
    }

    div.tittlePopularHosting h2 {
        margin-left: 2rem;
        font-size:1.4rem;
    }

    div.popularHostingImg img {
        height: 8rem;
        width: 16rem;
        position: relative;
        border-radius: 1rem 1rem 0 0;
        margin-left: -2.4rem;
        margin-top: -1rem;
    }

    figure.popularHosting figcaption h3 {
        font-size: 1rem;
        margin-left: -8.5rem;
        margin-top: 0.2rem;
    }

    article.popularHostingCards p {
        font-size: 1rem;
        margin-left: -8.5rem;;
        margin-top: -0.6rem;
    }

    article.popularHostingCards div.noteHosting {
        font-size: 1rem;
        margin-left: -8.5rem;;
        margin-top: -0.5rem;
    }


    .moreHosting {
        margin-left: 2rem;
        margin-top:1rem;
        font-size:1.2rem;
    }

    /* ----- hÃ©bergements classique ------- */
    #articleHosting {
        background-color: white;
        max-width: 900px;
        width: 115%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-left:-2rem;
    }
    article.hostingCards{
         width: 16rem;
        height: 13rem;
        }

    .hostingCards {
        margin-left: 1rem;
    }

    div.tittleHosting {
        flex-basis: 100%;
        margin-left:1.7rem;
        margin-bottom:0.5rem;
    }

    div.moreHosting {
        flex-basis: 100%;
    }

    div.hostingImg img {
        height: 7rem;
        width: 15rem;
        position: relative;
     }


    figure.hosting figcaption h3 {
    font-size: 1rem;
    }

    article.hostingCards p {
        font-size: 1rem;
        margin-top: -0.5rem;
         }

    article.hostingCards .noteHosting {
        font-size: 1rem;
        margin-top: -0.5rem;
        }



    /* ----- ActivitÃ©s ----- */
    #articleActivities {
        max-width: 1000px;
        width: 120%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-left: -0.5rem;

    }

    #articleActivities h2 {
        flex-basis: 100%;;
        margin-left: 3rem;
    }

    img.smallActivityImg {
        width: 15rem;
        height: 12rem;

    }

    img.activityImg {
        width: 15rem;
        height: 12rem;
    }

    img.greatActivityImg {
        width: 15rem;
        height: 12rem;

    }

    article.activityCards {
        max-width: 15rem;
        width:15rem;
        height:17rem;
        margin-bottom: 2rem;
        margin-right:1rem;
    }

    /* ----- footer ----- */
    footer {
        width: 123.6%;
        display: flex;
        flex-flow: row nowrap;
        padding-right:3.9rem;
    }

    nav.navFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav.about {
        margin-left: 3rem;
    }

    nav.ourHosting {
        margin-left: 4rem;
        margin-top: -2rem;
    }

    nav.assist {
        margin-left: 4rem;
        margin-top: -2rem;
    }

    h2.tittleNavFooter {
        font-size: 1.2rem;
    }

    .navFooter ul li {
        margin-bottom: 0.8rem;
        font-size: 1rem;
    }
}


@media screen and (max-width: 425px) {
   
    body {
        margin-left:-1rem;  
    }

    header {
        width: 100%;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
            "logo . register"
            "mainNav mainNav mainNav";
            margin-left:0rem;
    }

    .logo img {
        margin-top: -1rem;
        margin-left: 2rem;
        width:8rem;
    }

    #register {
        position: relative;
        right: -6rem;
        bottom: 2.5rem;
        margin-right: 0;
        font-size: 1.4rem;
        font-weight: bolder;
    }

    nav.mainNav {
        max-width: 425px;
        width: 100%;
        margin: 4rem 0 0 -11rem;
    }

    nav.mainNav a {
        margin-right: 0rem;
        padding-bottom: 1rem;
        font-size: 1.6rem;
        font-weight: bolder;
        width: 100%;
        border-bottom: 3px #F2F2F2 solid;
    }

    nav.mainNav a[data-active=true] {
        color: #0065FC;
        border-top: none;
        border-bottom: 3px #0065FC solid;
        margin-left: 2rem;
        padding-left: 2rem;
        padding-right: 6.5rem;
    }

    nav.mainNav a[data-active=false] {
        padding-left: 4.5rem;
        padding-right: 8rem;
    }

    /* ----- Research ----- */
    
    .title{
        font-size: 1.6rem;
    }

    .title p{
        font-size: 1.7rem;
    }
    
    .research {
        margin-left: 2.5rem;
    }

    .title h2 {
        width: 22rem;
        overflow-wrap: break-word;
    }

    button {
        display: none;
    }

    input.searchField {
        width:27rem;
        height:3rem;
        font-size:1.5rem;
    }

    form i {
        font-size: 40px;
        padding: 13px 14px 15px;

    }

    .searchFormSubmitinputIcon {
        display: block;
        width: 2.5rem;
        background: #0065FC;
        border: 1px #0061f2 solid;
        border-radius: 0.7rem;
        color: #FFF;
        padding-top: 0.8rem;
        padding-left: 0.6rem;
        margin-left: -0.5rem;
    }

    /* ----- Filtres ------ */
    section.filters h2 {
        margin-left:2.5rem;
        font-size:2rem;
        }
    
    div.allFilters {
        padding-right: 0;
        font-size:1.7rem;
        margin-left:1rem;
        width:500px;
    }

    .infoHosting {
        width: 100%;
        font-size:1.7rem;
    }

    .searchResultWrapiconIcon {
        margin-left:2.8rem;
        width:3rem;
    }

    /* ----- all hÃƒÂ©bergements ------ */
    section.allArticleHosting {
        max-width: 425px;
        height: auto;
        display: flex;
        flex-flow: column wrap;
    }

    /* ----- HÃƒÂ©bergement les plus populaires ------ */
    #articlePopularHosting {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        order: -1;
        border-radius: 0;
        margin-bottom: 0;
        margin-left:1rem;
        padding-right: 10.6rem;
    }

    div.tittlePopularHosting h2 {
        margin-left: -7rem;
        padding-right: 8rem;
        font-size:2rem;
    }

    article.popularHostingCards {
        max-width: 45rem;
        height: 12rem;
        width: 35rem;
        margin-left: 0rem;
    }

    figure.popularHosting figcaption h3 {
        font-size: 1.7rem;
        margin-left: 5rem;
    }

    article.popularHostingCards p {
        font-size: 1.7rem;
        margin-bottom: 2rem;
        margin-left: 5rem;
    }

    article.popularHostingCards div.noteHosting {
        margin-left: 5rem;
        margin-top:-1rem;
        font-size:1.7rem;
    }

    div.popularHostingImg img {
        border-radius: 1rem 0 0 1rem;
        position: absolute;
        width: 12rem;
        height: 11rem;
        object-fit: cover;
        margin-top: -1.1rem;
        margin-left: -2.6rem;
    }

    /* ------ HÃƒÂ©bergement classique ------ */
    #articleHosting {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        background-color: white;
        margin-bottom: 0;
        margin-left: 0rem;
        padding-right: 0;
        padding-top: 1rem;
    }

    article.hostingCards {
        background-color: white;
        padding: 0.375rem;
        width:35rem;
        height: 19rem;
        margin-left: 9rem;
    }

    div.tittleHosting h2 {
        font-size: 2rem;
        font-weight: bolder;
        margin-left: -1rem;
    }

    figure.hosting figcaption h3 {
        font-size: 1.7rem;
        margin-top:0.5rem;
        margin-bottom:0.5rem;
    }

    article.hostingCards p {
        font-size: 1.7rem;
        margin-top: 0rem;
        margin-bottom: 1rem;
    }

    div.hostingImg img {
        height: 11rem;
        width: 34rem;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
        margin-top: -1rem;
        margin-left: -2.4rem;
    }

    article.hostingCards p {
       margin-top: -0.5rem;
    }

    article.hostingCards .noteHosting {
        font-size: 1.7rem;
         margin-top: -0.5rem;
    }
        
    .moreHosting {
        margin-left: 0rem;
        font-size:1.7rem;
    }

    /* ----- activitÃƒÂ©s ----- */
    #articleActivities {
        width: 90%;
        display: flex;
        flex-flow: column wrap;
        padding-right: 0;
        margin-left: 3rem;
    }

    img.smallActivityImg {
        width: 35rem;
        height: 13rem;
    }

 

    img.greatActivityImg {
        width: 35rem;
        height: 13rem;

    }

     img.activityImg {
        width: 35rem;
        height: 13rem;
    }

    article.activityCards {
        max-width: 35rem;
        width: 35rem;
        max-height: 19rem;
        height:19rem
    }

    #articleActivities h2{
        margin-left: 0rem;
        font-size:2rem;
    }

    .activityCards figure figcaption h3 {
    font-size: 1.7rem;
    margin-left: -1.5rem;
    font-weight: bolder;
    }

    /* ----- footer ----- */
    nav.navFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer {
        width: 107.8%;
        display: flex;
        flex-flow: column nowrap;
        padding-right: 12.5rem;
    }

    nav.about {
        margin-left: 2.5rem;
        margin-bottom: 3rem;
    }

    nav.ourHosting {
        margin-left: 2.5rem;
        margin-bottom: 3rem;
    }

    nav.assist {
        padding-bottom: 10rem;
        margin-left: 2.5rem;
    }

    h2.tittleNavFooter {
        font-size: 1.5rem;
        margin-bottom: 0rem;
    }

    .navFooter ul li {
        margin-bottom: 0.8rem;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 375px) {

    
    body {
        margin-left:-1rem;  
    }

    main {
        width: 100%;
        margin: 0;
    }

    header{
        margin-left:0rem;  
    }

    #register {
        position: relative;
        right: -3rem;
        bottom: 2.5rem;
        margin-right: 0;
        font-size: 1.4rem;
        font-weight: bolder;
    }

    nav.mainNav a[data-active=true] {
        color: #0065FC;
        border-top: none;
        border-bottom: 3px #0065FC solid;
        margin-left: 2rem;
        padding-left: 2rem;
        padding-right: 5rem;
    }

    nav.mainNav a[data-active=false] {
        padding-left:4rem;
        padding-right: 7rem;
    }

    .title{
        font-size: 1.4rem;
        width:28rem;
    }

    .title p{
        font-size: 1.4rem;
        width:28rem;
    }

    input.searchField {
        width:25rem;
        height:3rem;
    }


    .searchResultWrapiconIcon {
        width: 3rem;
        margin-left:2.5rem;
    }

    .iconFilter {
        width:3rem;
         }

    div.allFilters {
        font-size:1.5rem
    }

    .infoHosting {
        width: 140%;
        font-size:1.4rem;
    }

    /* ----- HÃ©bergement les plus populaires ------ */
    #articlePopularHosting {
        padding-right: 10.7rem;
        margin-left: 0rem;
    }


    div.tittlePopularHosting h2 {
        margin-left: -5rem;
        font-size: 1.8rem;
    }

     article.popularHostingCards {
        max-width: 45rem;
        height: 13rem;
        width: 32rem;
        margin-left: 1rem;
    }

    figure.popularHosting figcaption h3 {
        font-size: 1.6rem;
        margin-left: 5rem;
    }

    article.popularHostingCards p {
        font-size: 1.6rem;
        margin-bottom: 2rem;
        margin-left: 5rem;
    }

    article.popularHostingCards div.noteHosting {
        margin-left: 5rem;
        margin-top:2rem;
    }

    div.popularHostingImg img {
        border-radius: 1rem 0 0 1rem;
        position: absolute;
        width: 13rem;
        height: 12rem;
        object-fit: cover;
        margin-top: -1.1rem;
        margin-left: -2.6rem;
    }

    /* ----- HÃ©bergement classique ------ */
    div.tittleHosting h2 {
        margin-left: -1rem;
        font-size: 1.8rem;
    }

    article.hostingCards {
        background-color: white;
        padding: 0.375rem;
        width: 32.5rem;
        height: 19rem;
        margin-left: 8.5rem;
        margin-bottom:2rem;
    }

    div.hostingImg img {
        width: 31.5rem;
        height:11rem;
        margin-left: -2.4rem;
    }

    figure.hosting figcaption h3 {
        font-size: 1.6rem;
        margin-top:0.5rem;
        margin-bottom:0.5rem;
    }

    article.hostingCards p {
        font-size: 1.6rem;
        margin-top: 0rem;
        margin-bottom: 1rem;
    }

    article.hostingCards .noteHosting {
        font-size: 1.6rem;
         margin-top: -0.5rem;
        }

    div.moreHosting{
        margin-left:-1rem;
        font-size:1.6rem;
    }

    /* ----- activitÃ©s ----- */
    #articleActivities {
        width: 100%;
        padding-right: 0;
        margin-left: 1.5rem;
    }

    #articleActivities h2 {
        width: 92%;
        margin-left: 1.5rem;
        font-size: 1.8rem;
    }

    img.smallActivityImg {
        width: 32rem;
    }

    img.activityImg {
        width: 32rem;
    }

    img.greatActivityImg {
        width: 32rem;

    }

    article.activityCards {
        max-width: 35rem;
        width: 32rem;
        margin-left:1.5rem;
    }

     .activityCards figure figcaption h3 {
    font-size: 1.6rem;
    margin-left: -1.5rem;
    font-weight: bolder;
}

    /* ----- Footer ------ */
    footer {
        width: 123.7%;
        padding-right: 8.9rem;
    }
    
    nav.about {
        margin-left: 3rem;
    }

    nav.ourHosting {
        margin-left: 3rem;
    }

    nav.assist {
        margin-left: 3rem;
    }

}

@media screen and (max-width: 320px) {
   
    body {
        margin-left:-2.5rem;  
    }

    header {
        margin-left:1.5rem;  
    }

   
    #register {
        right:-3rem;
    }

    nav.mainNav a[data-active=true] {
        padding-right: 5.3rem;
    }

    nav.mainNav a[data-active=false] {
        padding-left: 5rem;
        padding-right: 6.2rem;
    }


    .title{
        width: 160%;
        margin-left: -0.5rem;
        font-size:1.3rem
    }

    input.searchField {
        width:24rem;
        height:3rem;
    }

    .title h2 {
        font-size: 1rem;
        overflow-wrap: break-word
    }

    .research {
        margin-left: 4.5rem;
    }

    section.filters h2 {
        margin-left:4.5rem;
        font-size:1.8rem;
        }
    
    div.allFilters {
        padding-right: 0;
        font-size:1.4rem;
        margin-left:3rem;
        width:420px;
    }

    .infoHosting {
        width: 160%;
    }

    .searchResultWrapiconIcon {
        margin-left:4.5rem;
    }

    /* ------ HÃ©bergement populaire ------ */
    #articlePopularHosting {
        padding-right: 12.8rem;
        margin-left: 1.8rem;
    }

    div.tittlePopularHosting h2 {
        margin-left: -4rem;
        font-size: 1.8rem;
    }

     article.popularHostingCards {
        max-width: 45rem;
        height: 13rem;
        width: 32.4rem;
        margin-left: 1rem;
    }

    figure.popularHosting figcaption h3 {
        font-size: 1.6rem;
        margin-left: 5rem;
    }

    article.popularHostingCards p {
        font-size: 1.6rem;
        margin-bottom: 2rem;
        margin-left: 5rem;
    }

    article.popularHostingCards div.noteHosting {
        margin-left: 5rem;
        margin-top:2rem;
    }

    div.popularHostingImg img {
        border-radius: 1rem 0 0 1rem;
        position: absolute;
        width: 13rem;
        height: 12rem;
        object-fit: cover;
        margin-top: -1.1rem;
        margin-left: -2.6rem;
    }

    /* ------ HÃ©bergement classique ------ */
    div.tittleHosting h2 {
        width:400px;
        margin-left: 6.5rem;
        font-size: 1.7rem;
    }

    article.hostingCards {
        background-color: white;
        padding: 0.375rem;
        width: 32rem;
        height: 19rem;
        margin-left: 14rem;
        margin-bottom:2rem;
    }

    div.hostingImg img {
        width: 31rem;
        height:11rem;
        margin-left: -2.4rem;
    }

    figure.hosting figcaption h3 {
        font-size: 1.6rem;
        margin-top:0.5rem;
        margin-bottom:0.5rem;
    }

    article.hostingCards p {
        font-size: 1.6rem;
        margin-top: 0rem;
        margin-bottom: 1rem;
    }

    article.hostingCards .noteHosting {
        font-size: 1.6rem;
         margin-top: -0.5rem;
        }

    div.moreHosting{
        margin-left:2rem;
        font-size:1.6rem;
    }

    /* ------ Activitées ------ */
    #articleActivities {
        margin-left: -2.2rem;
    }

    img.smallActivityImg {
        width: 32rem;
    }

    img.activityImg {
        width: 32rem;
    }

    img.greatActivityImg {
        width: 32rem;
    }

    article.activityCards{
        margin-left:7rem;
        max-width: 35rem;
        width: 32rem;
        }
    
    #articleActivities h2{
        font-size: 1.8rem;
        margin-left: 7rem;
    }

    /* ------ Footer ------ */
    footer {
        padding-right: 13.3rem;
    }

    nav.about {
        margin-left: 4rem;
    }

    nav.ourHosting {
        margin-left: 4rem;
    }

    nav.assist {
        margin-left: 4rem;
    }
}
